.btn {
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.8rem 6rem;
  text-transform: uppercase;
  &__submit {
    box-shadow: $box-shadow-1;
    border-radius: 0.5rem;
    transition: all 0.5s;
    color: $black-grey;
    &:active {
      box-shadow: $box-shadow-4;
      color: $grey-1;
    }
  }
  &__grp {
    @include flex-center;
    width: 100%;
    flex-direction: column;
    @include respond(tab-land) {
      display: block;
      max-width: fit-content;
    }
  }
}
