.contact {
  background: #e3dede8f;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left:5rem;
}
.neo-contact {
  color: #e3dede;
  text-shadow: 2px 2px 4px #ada9a9, -2px -2px 4px #ffffff;
  font-size: 5.1rem;
  text-transform: uppercase;
  margin-bottom:1rem;
}
