.contact {
  min-height: 100vh;
  background: $grey-4;
  @include flex-center;
  flex-direction: column;
  padding-left: 0;
  padding-bottom: 11rem;
  padding-top: 3rem;
  @include respond(tab-land) {
    padding-left: 5rem;
  }
}
.neo-contact {
  font-size: 4rem;
  color: $grey-2;
  text-shadow: $text-shadow;
  text-transform: uppercase;
  margin-bottom: 2rem;
  @include respond(tab-port) {
    font-size: 5.1rem;
    margin-bottom: 1rem;
  }
}
