.portfolio {
  background: $white;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 10rem;
  &__img-container {
    width: 95%;
    margin: 0 auto;
    height: 28rem;
    background-position: top;
    background-size: cover;
    border: $border-3;
    box-shadow: $box-shadow-1;
    transition: all 4s;
    &:hover {
      background-position: bottom;
    }
  }
}
