.portfolio {
  background: #e3dede8f;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 10rem;
  &__img-container {
    width: 95%;
    margin: 0 auto;
    height: 28rem;
    background-position: top;
    background-size: cover;
    border: 1px solid #fdfdfd;
    box-shadow: 5px 5px 10px #bfbaba, -5px -5px 10px #ffffff;
    transition: all 4s;
    &:hover {
      background-position: bottom;
    }
  }
}
