.work {
  color: #212529;
  letter-spacing: 0.1rem;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 10rem;
  &__card {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
  }
  &__date {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 2rem;
  }
  &__description {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  &__list{
    font-size: 1.6rem;
    font-weight: 400;
  }
}
